@using Ragent.Agent
@using Ragent.Agent.Messages
@using RazorConsole.Components
@using Spectre.Console
@using Panel = RazorConsole.Components.Panel

<Panel BorderColor="Color.Salmon1">
    @foreach(var item in Agent.ChatHistory)
    {
        <p>@item.PrettyString()</p>
        <Newline />
    }
    <TextInput @bind-Value="currentInput" Placeholder="Type your message here..." OnSubmit="SendMessage" Expand="true" />
</Panel>

@code{
    [Parameter]
    public required Agent Agent { get; set; }
    
    private string currentInput = string.Empty;
    
    async void SendMessage() {

        await foreach (var x in Agent.ProcessMessage(currentInput))
            StateHasChanged();
        
    }
    }

}