@using Ragent.Agent
@using RazorConsole.Components
<Align Width="100">
    <Grid Columns="2">
        <Title></Title>
        <Status Agent="Agent"></Status>
    </Grid>
    <Grid Columns="2">
        <ChatWindow Agent="Agent"></ChatWindow>
        <ToolsWindow Tools="Agent.AvailableTools"></ToolsWindow>
    </Grid>
</Align>
@code{
    [Parameter] public required Agent Agent { get; set; }
}