@using RazorConsole.Components
@using Spectre.Console
@using Panel = RazorConsole.Components.Panel

<Panel BorderColor="Color.Yellow">
    <Align Horizontal="HorizontalAlignment.Center" Vertical="VerticalAlignment.Middle">
        <p>RAgent</p>
    </Align>
</Panel>