@using Ragent.Reflection
@using RazorConsole.Components
@using Spectre.Console
@using Align = RazorConsole.Components.Align
@using Panel = RazorConsole.Components.Panel

<Panel BorderColor="Color.Blue">
    <Align Horizontal="HorizontalAlignment.Center" Vertical="VerticalAlignment.Middle">
        @if (Tools is not null){
            @foreach (var tool in Tools){
                <p>@tool.Name</p>
            }
        }
    </Align>
</Panel>

@code{
    [Parameter]
    public List<ToolInfo>? Tools { get; set; }
}